<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
    	<div class="item item-divider">
  			Location Information
  			
  		</div>
  		<div class="item  item-text-wrap">
  			<h2>Our Address</h2>
  			<p>121, Clear Water Bay Road</p>
  			<p>Clear Water Bay, Kowloon</p>
  			<p>HONG KONG</p>
  			<p><i class="icon ion-ios-telephone">: +852 1234 5678</i></p>
  			<p><i class="icon ion-android-print">: +852 1234 5678</i></p>
  			<p><i class="icon ion-android-mail">: <a href="mail:confusion@good.net">confusion@good.net</a></i></p>
  			

  		</div>
  		<div class="button-bar">
			  <button class="button button-positive icon-left ion-ios-telephone">Call</button>
			  <button class="button button-calm icon-left ion-social-skype">Skype</button>
			  <button class="button button-balanced icon-left ion-android-mail">Email</button>
			</div>
    </div>

  </ion-content>
</ion-view>
