<ion-popover-view>
	<ion-content>
		<div class="list">
        	<a class="item" ng-click="addFavorite()">
        	Add to Favorites
        	</a>

        	<a class="item">
        	Add Comment
        	</a>
        </div>

	</ion-content>
</ion-popover-view>