
<ion-view view-title="Dish Detail">

  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <button class="button button-icon icon ion-more" ng-click="popover.show($event)"></button>
    </div>
  </ion-nav-buttons>

  <ion-content>
    <div class="card">
  		
  		<div class="item item-body item-text-wrap">
  			<img class="full-image" ng-src="{{baseURL+dish.image}}" alt="Uthappizza">
  			<h2>{{dish.name}}
  			<span style="font-size:75%">{{dish.price | currency}}</span>
  			<span class="badge badge-assertive">{{dis.label}}</span>
  			</h2>
  			<p>{{dish.description}}</p>

  		</div>
  	</div>

  	<div class="row">
  		<div class="col col-offset-10">
  			<h4>Customer Comments&nbsp;&nbsp;&nbsp;
  			<small>Sort by: &nbsp;
  			<input type="text" ng-model="orderText" >
  			</small></h4>

  			<ul class="list">
  				<li ng-repeat="comment in dish.comments | orderBy: orderText">
  					<blockquote>
  						<p>{{comment.rating}} Stars</p>
  						<p>{{comment.comment}}</p>
  						<footer>{{comment.author}}, {{comment.date | date:'MM. dd, yyyy'}}</footer>
  					</blockquote>
  				</li>
  			</ul>	
  		</div>
  	</div>
  </ion-content>
</ion-view>


<script id="dish-detail-popover.html" type="text/ng-template">
<ion-popover-view>
  <ion-content>
    <div class="list">
          <a class="item" ng-click="addFavorite()">
          Add to Favorites
          </a>

          <a class="item"  ng-click="addFavorite()">
          Add Comment
          </a>
        </div>

  </ion-content>
</ion-popover-view>
</script>