<ion-view view-title="Restorante con Fusion">
  <ion-content>
    
  	<div class="card">
  		<div class="item item-divider">
  			Our Lipsmacking Culinary Creations
  			<span class="badge badge-assertive">{{featureDish.label}}</span>
  		</div>
  		<div class="item item-thumbnail-left item-text-wrap">
  			<img ng-src="{{baseURL+featureDish.image}}" alt="Uthappizza">
  			<h2>{{featureDish.name}}
  			<span class="badge">{{featureDish.price | currency}}</span></h2>
  			<p>{{featureDish.description}}</p>

  		</div>
  	</div>


  	<div class="card">
  		<div class="item item-divider">
  			This month's promotion
  			
  		</div>
  		<div class="item item-thumbnail-left item-text-wrap">
  			<img ng-src="{{baseURL+promotion.image}}" alt="Uthappizza">
  			<h2>{{promotion.name}}
  			<span class="badge">{{promotion.price | currency}}</span></h2>
  			<p>{{promotion.description}}</p>

  		</div>
  	</div>

  	<div class="card">
  		<div class="item item-divider">
  			Meet our Culinary Specialist
  			
  		</div>
  		<div class="item item-thumbnail-left item-text-wrap">
  			<img ng-src="{{baseURL+leader.image}}" alt="Uthappizza">
  			<h2>{{leader.name}}</h2>
  			<p>{{leader.description}}</p>

  		</div>
  	</div>

  </ion-content>
</ion-view>
