<ion-view view-title="Manu">
<ion-content>
	    <ion-list>
	      <ion-item ng-repeat="news in latestNews" href="#/app/latest/{{news.id}}" class="item-thumbnail-left">
	        <img ng-src="{{baseURL+news.attachments[0].url}}">
	  			<h2>{{news.title}}
	  			
	  			<p>{{news.excerpt}}</p>
	      </ion-item>
	    </ion-list>
	  </ion-content>
</ion-view>